/* Basic reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation bar */
header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 30px;
}

/* Nav layout */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left and right groups */
.nav-left,
.nav-right {
  display: flex;
  gap: 30px;
}

/* Nav links */
nav a {
  text-decoration: none;
  text-align: left;
  color: #333;
  font-size: 34px;
  transition: font-style 0.2s ease;
}

/* Hover effect */
nav a:hover {
  font-style: italic;
}

/* Active page */
.active {
  font-style: italic;
}

/* Page content */
main {
  padding: 60px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Vertical image: 1 column, 2 rows */
.gallery-item.vertical {
  grid-column: span 1;
  grid-row: span 2;
}

/* Horizontal image: 2 columns, 1 row */
.gallery-item.horizontal {
  grid-column: span 2;
  grid-row: span 1;
}


.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: bottom 0.3s ease;
}

.overlay p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.gallery-item:hover .overlay {
  bottom: 0;
}


/* Contact page layout */
.contact-container {
  display: flex;
  align-items: center;
  left: 80px;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.contact-page {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  left:400px;
}

.contact-page p {
  line-height: 1.7;
  font-size: 16px;
}


/* Contact image */
.contact-container img {
  position: fixed;
  top: 205px;
  width: 280px;
  height: auto;
  left: 80px;
  border-radius: 10px;
}

/* Contact text */
.contact-text {
  text-align: left;
}

.contact-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.contact-layout img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
}

.contact-text {
  max-width: 600px;
}

@media (max-width: 900px) {
  .contact-layout {
    flex-direction: column;
  }

  .contact-layout img {
    width: 100%;
    max-width: 400px;
  }
}


/* Works sidebar */
.sidebar {
  position: fixed;
  left: 30px;
  top: 205px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* Sidebar links */
.sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 34px;
  transition: font-style 0.2s ease;
}

.sidebar a:hover {
  font-style: italic;
}

.big {
  font-size: 34px;
}

.small {
  font-size: 16px;
}

/* Active work */
.works-active,
.engagement-active{
  font-style: italic;
}

/* Push page content right */
.works-content
.engagement-content{
  margin-left: 220px;
}

.about-page {
  font-size: 26px;
  margin-left: 150px;
  text-align: left;
}
  

