body {
  background-color: lightblue;
}
h1 {
  color: navy;
  font-family: Arial, sans-serif;
}

p {
  font-size: 16px;
}
main {
  padding: 20px;
}

div {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

